.advantage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  &--sub-list {
    background-color: $lightgray;
  }
}

.advantage__title {
  margin: 0 0 9px 0;
}

.advantage__text {
  margin: 0 0 14px 0;

  &--num {
    &::before {
      content: "\2014";
      margin: 0 10px;
    }

    &::after {
      content: "\2014";
      margin: 0 10px;
    }
  }
}

.advantage__description {
  height: 190px;
  background: $main-color;
  color: #ffffff;
  padding: 40px;

  &--sub-list {
    background-color: $lightgray;
    color: black;
    height: 167px;
    padding: 30px 10px;
    margin: 0 25px;
    border-bottom: 1px solid #d6d6d6;
    flex: 1;

    &:last-child {
      border: none;
    }
  }
}

.advantage__bg {
  padding: 0;
  min-width: 320px;
  height: 260px;

  &-1 {
    background: #d5806d url("../img/main-city-mobile@1x.jpg") center/100% no-repeat;
    background-clip: border-box;

    @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
      background: #d5806d url("../img/main-city-mobile@2x.jpg") center/100% no-repeat;
    }
  }

  &-2 {
    background: #d5806d url("../img/main-bridge-mobile@1x.jpg") center/100% no-repeat;
    background-clip: border-box;

    @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
      background: #d5806d url("../img/main-bridge-mobile@2x.jpg") center/100% no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantage {
    flex-direction: row;

    &--reverse {
      flex-direction: row-reverse;
    }

    &--sub-list {
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .advantage__description {
    width: 256px;
    height: 256px;
    padding: 45px;

    &--sub-list {
      border-bottom: none;
    }
  }

  .advantage__text {
    margin: 0 0 20px 0;
  }

  .advantage__title {
    margin: 0 0 10px 0;
  }

  .advantage__bg {
    min-width: 511px;
    height: 256px;
    flex-grow: 1;

    &-1 {
      background: url("../img/main-city-tablet@1x.jpg") center/100% no-repeat;

      @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
        background: #d5806d url("../img/main-city-tablet@2x.jpg") center/100% no-repeat;
      }
    }

    &-2 {
      background: url("../img/main-bridge-tablet@1x.jpg") center/100% no-repeat;

      @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
        background: #d5806d url("../img/main-bridge-tablet@2x.jpg") center/100% no-repeat;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage__description {
    width: 400px;
    height: 256px;
    padding: 40px;

    &--sub-list {
      margin: 0;
      padding: 35px 50px;
    }
  }

  .advantage__title {
    margin: 13px 0 10px 0;
    padding: 0 80px;
  }

  .advantage--bg {
    min-width: 511px;
    height: 256px;
    flex-grow: 1;

    &-1 {
      background: url("../img/main-city-desktop@1x.jpg") center/100% no-repeat;

      @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
        background: #d5806d url("../img/main-city-desktop@2x.jpg") center/100% no-repeat;
      }
    }

    &-2 {
      background: url("../img/main-bridge-desktop@1x.jpg") center/100% no-repeat;

      @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
        background: #d5806d url("../img/main-bridge-desktop@2x.jpg") center/100% no-repeat;
      }
    }
  }

  .advantage__text {
    margin: 0 0 20px 0;
  }
}
