.advantages {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 100%;
  }
}
