.description {
  position: relative;
  min-width: 320px;
  padding: 0 30px;

  &--sub {
    padding: 18px 25px;
  }

  &--sub-size-m {
    padding: 20px 20px 0;
  }

  &--triangle {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 72px;
      position: absolute;
      bottom: -72px;
      left: 0;
      background: url("../img/bg-triangle.svg") no-repeat, $main-color;
      background-size: contain;
    }
  }
}

.description__text {
  margin: 29px 0 10px;
  line-height: 24px;
}

.description__title {
  margin: 20px 0;
}

@media (min-width: $tablet-width) {
  .description {
    width: 702px;
    margin: 0 auto;
    padding: 13px 50px 39px;

    &--sub {
      padding: 54px 50px 57px;
    }

    &--sub-size-m {
      padding: 55px 40px 15px;
    }

    &::after {
      display: none;
    }
  }

  .description__title--big {
    font-size: 30px;
  }

  .description__text {
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    width: 702px;
    margin: 0 auto;
    padding: 27px 50px 8px;

    &--sub {
      padding-top: 30px;
    }

    &--sub-size-m {
      padding: 30px 40px 40px;
    }
  }

  .description__title {
    margin: 24px;
  }

  .description__text {
    margin-top: 29px;
  }
}
