.form {
  padding: 0 20px 20px;
  text-align: left;
}

.form__title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.form__label {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 60px;
  line-height: 55px;

  &--column {
    height: 92px;
    flex-direction: column;
    line-height: 21px;
  }

  &--check:hover .form__label-text--checkbox::before {
    background-color: $input--hover-bg;
  }

  &--check:active .form__checkbox:checked .form__label-text--checkbox::after {
    color: #a4a4a4;
  }

  &--check:active .form__label-text--checkbox::before {
    background-color: $input--down;
  }

  &--check:hover .form__label-text--radio::before {
    background-color: $input--hover-bg;
  }

  &--check:active .form__radio:checked + .form__label-text--radio::after {
    background-color: #a4a4a4;
  }

  &--check:active .form__label-text--radio::before {
    background-color: $input--down;
  }
}

.form__label-text {
  display: inline-block;
  margin-right: 15px;

  &--desktop {
    display: none;
  }

  &--contact-phone {
    height: 30px;
    vertical-align: top;
    padding: 0 0 0 20px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 57px;
      height: 57px;
      background: url("../img/icon-phone.svg") 50%/30% no-repeat;
      background-color: $dsiabled-color;
      bottom: 0;
      right: 0;
    }
  }

  &--contact-email {
    height: 30px;
    vertical-align: top;
    padding: 0 0 0 20px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 57px;
      height: 57px;
      background: url("../img/icon-mail.svg") 50%/30% no-repeat;
      background-color: $dsiabled-color;
      bottom: 0;
      right: 0;
    }
  }

  &--radio {
    padding-left: 75px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $input-color-bg;
    }
  }

  &--checkbox {
    padding-left: 75px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 55px;
      border-radius: 5px;
      background-color: $input-color-bg;
    }
  }
}

.form__input {
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  height: 57px;
  width: 100%;
  background-color: $input-color-bg;
  border: none;
  padding: 15px 20px;

  &--size-s {
    width: 70%;
  }

  &--size-m {
    width: 100%;
  }

  &--comment {
    width: 100%;
    height: 159px;
  }

  &:hover {
    background-color: $input--hover-bg;
  }

  &:active {
    outline: none;
    background-color: #ffffff;
    border: 3px solid $input--active-border;
  }

  &:focus {
    outline: none;
    background-color: #ffffff;
    border: 3px solid $input--active-border;
  }

  &:focus:required:invalid {
    border: 3px solid #f89779;
  }

  &:focus:required:valid {
    border: 3px solid #67ca81;
  }
}

.form__radio {
  height: 59px;
  width: 59px;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.form__radio:checked + .form__label-text--radio::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 17px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $font-color--input;
}

.form__checkbox {
  height: 59px;
  width: 59px;
  border: none;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.form__checkbox:checked + .form__label-text--checkbox::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 16px;
  width: 22px;
  height: 22px;
  background: url("../img/icon-tick.svg") no-repeat;
}

.form__endnote {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    width: 678px;
    margin: 0 auto;
    padding: 0 0 10px;
  }

  .form__title {
    &--left {
      text-align: left;
    }
  }

  .form__title--decoration {
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 140px;
      background: $lightgray;
      position: absolute;
      top: 50%;
      right: 10px;
    }

    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 140px;
      background: $lightgray;
      position: absolute;
      top: 50%;
      left: 10px;
    }
  }

  .form__label {
    min-width: 200px;

    &--column {
      height: 86px;
    }
  }

  .form__label-text {
    &--contact-phone {
      &::after {
        width: 57px;
        height: 57px;
      }
    }

    &--contact-email {
      &::after {
        width: 57px;
        height: 57px;
      }
    }

    &--checkbox {
      margin: 0;
      line-height: 50px;
    }
  }

  .form__input {
    &--size-s {
      width: 179px;
    }

    &--size-m {
      width: 216px;
    }

    &--tablet {
      width: 100%;
    }

    &--comment {
      width: 100%;
      height: 159px;
    }
  }

  .form__endnote {
    position: absolute;
    bottom: 5px;
    right: 0;
    display: block;
    width: 165px;
    color: $font-color--input;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 30px;
  }

  .form__label {
    vertical-align: middle;
    min-width: 0;
    line-height: 60px;

    &--column {
      height: 59px;
      line-height: 59px;
      flex-direction: row;
    }
  }

  .form__input {
    &--size-s {
      width: 320px;
    }

    &--size-m {
      width: 350px;
    }

    &--tablet {
      width: 320px;
    }
  }

  .form__title {
    &--left {
      text-align: left;
    }
  }

  .form__title--decoration {
    &::after {
      width: 240px;
    }

    &::before {
      width: 240px;
    }
  }

  .form__endnote {
    bottom: 0;
  }

  .form__label-text {
    &--contact-phone {
      padding: 0;

      &::after {
        top: 0;
      }
    }

    &--contact-email {
      &::after {
        top: 0;
      }
    }

    &--desktop {
      display: block;
    }

    &--desktop-off {
      display: none;
    }
  }
}
