.get-feedback {
  display: flex;
  flex-direction: column;
}

.get-feedback__item {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid $lightgray;
}

.get-feedback__item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--name {
    height: 305px;
  }

  &--contact {
    height: 199px;
    padding-top: 3px;
  }

  &--impression {
    height: 203px;
  }

  &--visit {
    height: 295px;
  }
}

.get-feedback__name {
  height: 305px;
  border-top: 1px solid $lightgray;
}

.get-feedback__contact {
  min-height: 288px;
}

.get-feedback__impression {
  height: 288px;
}

.get-feedback__visit {
  height: 409px;
}

.get-feedback__feedback {
  height: 350px;
  align-items: center;
  border-bottom: none;
}

.get-feedback__request {
  width: 100%;
  margin-top: 50px;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $down-color-bg;
    color: $font-color-down;
  }

  &:focus {
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .get-feedback {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .get-feedback__item {
    padding: 0 15px;
    border-bottom: none;
    justify-content: space-between;
  }

  .get-feedback__item-wrap {
    &--name {
      height: 220px;
    }

    &--contact {
      height: 198px;
      padding-top: 0;
    }

    &--impression {
      height: 218px;
    }

    &--visit {
      width: 460px;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      align-self: center;
    }
  }

  .get-feedback__impression {
    order: -1;
    width: 50%;
    min-height: 350px;
    flex-grow: 1;
    padding: 49px 50px 0 10px;
    border-right: 1px solid $lightgray;
  }

  .get-feedback__name {
    width: 50%;
    min-height: 350px;
    flex-grow: 1;
    padding: 49px 12px 0 60px;
    text-align: right;
    border-top: none;
  }

  .get-feedback__contact {
    padding: 65px 12px 0;
    min-height: 320px;
    width: 100%;
  }

  .get-feedback__visit {
    min-width: 100%;
    height: 300px;
    padding: 55px 10px 0;
  }

  .get-feedback__feedback {
    position: relative;
    width: 100%;
    padding: 60px 12px 0;
    min-height: 420px;
    align-items: stretch;
  }

  .get-feedback__request {
    width: 50%;
    margin-top: 30px;
    align-self: unset;
  }
}

@media (min-width: $desktop-width) {
  .get-feedback__item-wrap {
    &--name {
      height: 220px;
    }

    &--contact {
      height: 60px;
      flex-direction: row;
    }

    &--impression {
      height: 235px;
      justify-content: space-around;
    }

    &--visit {
      width: 100%;
      justify-content: space-between;
      align-self: flex-start;
    }
  }

  .get-feedback__impression {
    width: 480px;
    min-height: 310px;
    padding: 0 55px 0 0;
  }

  .get-feedback__name {
    width: 480px;
    min-height: 310px;
    padding: 0 0 10px 80px;
  }

  .get-feedback__contact {
    min-height: 220px;
    padding: 55px 0 0 0;
  }

  .get-feedback__visit {
    height: 200px;
    padding: 48px 0 0 0;
  }

  .get-feedback__feedback {
    padding: 65px 0 0 0;
  }

  .get-feedback__request {
    margin-top: 25px;
  }
}
