.media {
  padding-bottom: 107px;
}

.media__item {
  margin: 0 0 21px 0;
  height: 394px;
  padding: 21px;
  padding-bottom: 0;
  text-align: left;
  border-top: 1px solid $lightgray;

  &--big {
    border-top: 1px solid $lightgray;
  }
}

.media__photo-wrap {
  margin: 0;
  height: 281px;
  margin-bottom: 20px;
  contain: content;

  &--big {
    margin: 0;
  }
}

.media__photo {
  width: 100%;
}

.media__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 77px;
  margin-top: 18px;
}

.media__title {
  font-weight: bold;
  margin: 0;
}

.media__author {
  text-transform: none;
  margin: 0 0 10px 0;
}

.media__like {
  position: relative;

  &-pic {
    position: absolute;
    bottom: 0;
    fill: #b2b2b2;
  }

  &-count {
    padding-left: 35px;
    font-weight: bold;
  }
}

@media (min-width: $tablet-width) {
  .media {
    display: flex;
    flex-wrap: wrap;
    min-width: 648px;
    padding: 10px 60px 0;
    margin: 0 auto;
  }

  .media__item {
    position: relative;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 348px;
    background-color: $lightgray;

    &--big {
      width: 100%;
      height: 478px;
      flex-grow: 1;
    }
  }

  .media__photo-wrap {
    height: 270px;
    margin: 0;

    &--big {
      height: 399px;
    }
  }

  .media__description {
    margin: 0;
    padding: 18px 20px;

    &:active {
      padding: 19px 20px;
    }
  }

  .media__like {
    position: absolute;
    right: 28px;
    bottom: 25px;

    &--big {
      right: 22px;
    }

    &--third {
      right: 37px;
    }
  }
}

@media (min-width: $desktop-width) {
  .media {
    width: $desktop-width;
    margin-top: 30px;
    padding: 0 0 23px;
  }

  .media__item {
    margin: 0;
    padding: 0;
    min-width: 400px;
    width: 30%;
    height: 269px;

    &--big {
      width: 100%;
      min-height: 400px;
    }
  }

  .media__photo {
    position: relative;
  }

  .media__description {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    z-index: 3;
    background: rgba($color: #000000, $alpha: 0.7);
    color: #ffffff;

    &:hover {
      color: $controls-color-btn--hover;
    }
  }
}
