.prompt {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px 20px 47px;

  &--sub {
    padding: 15px 20px;
  }

  &--sub .prompt__text {
    margin: 7px 0 20px;
  }
}

.prompt__text {
  margin: 0 0 37px;
  line-height: 1.7;
}

.prompt__title {
  margin: 20px 0;
}

.prompt__request {
  line-height: 58px;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $down-color-bg;
    color: $font-color-down;
  }

  &:focus {
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .prompt {
    padding: 38px 0 62px;
    width: 648px;

    &--sub {
      height: auto;
      padding: 50px 0 53px;
    }
  }

  .prompt__title {
    font-size: 30px;
    margin: 20px 0;
  }

  .prompt__text {
    margin: 10px 0 40px;
    padding: 0 80px;
    line-height: 24px;
  }

  .prompt__request {
    margin: 0 auto;
    width: 459px;
  }
}

@media (min-width: $desktop-width) {
  .prompt {
    padding: 50px 0;
    height: 330px;

    &--sub {
      padding-top: 60px;
      height: 245px;
    }
  }

  .prompt__title {
    margin: 8px 0 18px 0;
  }

  .prompt__text {
    margin: 11px 0 26px 0;
    padding: 0 110px;
  }

  .prompt__request {
    margin: 0 auto;
    width: 459px;
  }
}
