@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  src: url("/fonts/ptsans.woff2") format("woff2"), url("/fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  src: url("/fonts/ptsansbold.woff2") format("woff2"), url("/fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  text-align: center;
  overflow-x: hidden;
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: $desktop-width;
  }
}
